    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        border: 2px solid #551e53;
    height: 100vh;
   width: 80%;
   margin :20px;
   border-radius: 20px;

        }                                             